*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 50% 50%;
}

.elem {
    background-color: crimson;
    border: 2px solid black;
}