* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 50% 20%;
}

#square {
    height: 20px;
    width: 20px;
    background-color: black;
    rotate: 45deg;
}

#left-top-left {
    padding: 20px;
    background-color: crimson;
}


#left-top-right {
    /* background-color: blueviolet; */
    justify-self: right;
    padding: 40px;
    text-align: right;
}

#left-top-right  h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

#menu h3 {
    font-size: 1vw;
}

#right {
    background-color: silver;
    grid-column: 3;
    grid-row: 1/4;
}

#left-center {
    grid-column: 1/3;
}

#left-center {
    grid-column: 1/3;
}

#left-bottom {
    grid-column: 1/3;
    background-color: chartreuse;
}