*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 50% 20%;
}

#left-top-left {
    background-color: crimson;
}

#right{
    background-color: blueviolet;
    grid-row: 2 / 4;
    grid-column: 3;
}

#left-center {
    background-color: royalblue;
}

#left-bottom {
    background-color: chartreuse;
}